body div {
  position: absolute;
  display: none;
}
body #keyInWindow {
  display: block;
}
body #keyInWindow p {
  display: none;
}
body #court {
  display: none;
  width: 1201px;
  height: 443px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
body #court canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1000;
}
body #court #ball {
  left: 50px;
  top: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
}
body #court #leftPlayer {
  left: 100px;
  top: 100px;
  position: absolute;
  width: 69px;
  height: 175px;
}
body #court #rightPlayer {
  position: absolute;
  transform: scaleX(-1);
  left: 400px;
  top: 100px;
  width: 69px;
  height: 175px;
}