#court {
  width: 1201px;
  height: 443px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#court #ball {
  left: 50px;
  top: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
}
#court .player {
  left: 100px;
  top: 100px;
  position: absolute;
  width: 69px;
  height: 175px;
}