body > div {
  position: absolute;
  display: none;
}

body {
  zoom: 0.8;
}
body #keyInWindow form input[type=submit] {
  background-color: red;
}
body #keyInWindow p {
  display: none;
}
body #gameArea {
  display: none;
}
body #gameArea #readyMsg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
body #gameArea #court {
  width: 1201px;
  height: 443px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
body #gameArea #court #courtImg {
  position: absolute;
  top: 0;
  left: 0;
}
body #gameArea #court canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1000;
}
body #gameArea #court #ball {
  left: 50px;
  top: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
}
body #gameArea #court #leftPlayer {
  left: 100px;
  top: 100px;
  position: absolute;
  width: 69px;
  height: 175px;
}
body #gameArea #court #rightPlayer {
  position: absolute;
  transform: scaleX(-1);
  left: 400px;
  top: 100px;
  width: 69px;
  height: 175px;
}
body #gameArea #powerMeter {
  position: absolute;
  width: 557px;
  height: 117px;
  bottom: 0;
}
body #gameArea #powerMeter .indicator {
  position: absolute;
  height: 100%;
  width: 2%;
  left: 0;
  top: 0;
  transition: left 0.19s linear;
}
body #gameArea #powerMeter #gameIndicator {
  background-color: gold;
}
body #gameArea #powerMeter #leftIndicator {
  background-color: green;
  opacity: 0.7;
  display: none;
  z-index: 100;
}
body #gameArea #powerMeter #rightIndicator {
  background-color: blue;
  opacity: 0.7;
  display: none;
  z-index: 100;
}
body #gameArea #scoreBoard {
  position: absolute;
  left: 50%;
  top: 0;
}