*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; //font size = 10px ;)
}

body > div, #gameArea{
	position: absolute;
	display: none;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6rem;

	#keyInWindow {
		p {
			display: none;
		}
	}

	#gameSummaryWindow {
		#rematchInfo {
			display: none;
		}
	}

	#gameArea {
		position: relative;
		// display: flex;
		justify-content: center;

		.gameContainer {
			width: 100vw;
			height: 100vh;
			background-image: linear-gradient(
					45deg,
					rgba(0, 65, 163, 0.7),
					rgba(0, 29, 61, 0.7)
				),
				url('../images/beach3-big.jpg');
			background-repeat: no-repeat;
			background-position:bottom;
			background-size: cover;
			// display: flex;
			// justify-content: center;

			.buttons{
				text-align: center;

				// #returnBtn{
				// 	padding: 0.9em;
				// }
			}
		}

		#readyMsg {
			display: none;
			// position: absolute;
			// left: 0;
			// top: 0;
			color: white;
			text-transform: uppercase;
			font-size: 3.5rem;
			font-weight: bold;
			margin-top: .5em;
		}

		#court {
			width: 1201px;
			height: 443px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);

			#courtImg {
				position: absolute;
				top: 0;
				left: 0;
			}
			canvas {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.8;
				z-index: 1000;
			}

			#ball {
				left: 50px;
				top: 50px;
				position: absolute;
				width: 42px;
				height: 42px;
			}

			#leftPlayer {
				left: 100px;
				top: 100px;
				position: absolute;
				width: 69px;
				height: 175px;
			}

			#rightPlayer {
				position: absolute;
				transform: scaleX(-1);
				left: 400px;
				top: 100px;
				width: 69px;
				height: 175px;
			}
		}

		#powerMeter {
			position: absolute;
			width: 557px;
			height: 117px;
			top: 650px;
			left: 50%;
			transform: translateX(-50%);

			.indicator {
				position: absolute;
				height: 100%;
				width: 2%;
				left: 0;
				top: 0;
			}
			#gameIndicator {
				background-color: gold;
			}
			#leftIndicator {
				background-color: green;
				opacity: 0.7;
				display: none;
				z-index: 100;
			}
			#rightIndicator {
				background-color: blue;
				opacity: 0.7;
				display: none;
				z-index: 100;
			}
		}
		#scoreBoard {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 200px;
			color: white;
			display: flex;
			flex-direction: row;

			.leftPlay{
				padding-right: 150px;
			}
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	background-image: linear-gradient(
			45deg,
			rgba(1, 35, 86, 0.8),
			rgba(0, 29, 61, 0.8)
		),
		url('../images/beach-mini.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: rgb(255, 255, 255);

	.headerTextBig {
		font-family: 'Playball', cursive;
		font-size: 4.5rem;
		letter-spacing: 0.5rem;
		margin: -1rem 0.5em 1rem;
	}

	.headerTextSmall {
		font-size: 1.75rem;
		margin: 0 2rem 1.5rem 2rem;
	}

	.keyText {
		font-size: 2.5rem;
		text-transform: uppercase;
		margin: 0 1.5em;
	}

	.yourKey {
		margin: 1.5em 1em;
		font-size: 1.5rem;
	}

	.returnBtn {
		padding: 0.95em 3.6em;
	}

	.form {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		font-size: 2rem;

		.gameKeyLabel {
			margin-bottom: 0.7em;
			font-size: 2.4rem;
			font-weight: bold;
		}

		.gameKeyInput {
			font-size: 1.6rem;
			height: 3em;
			border: 3px solid #001d3d;
			background: rgba($color: #001d3d, $alpha: 0.4);
			color: #fff;
			padding: 0.5em;
			margin-bottom: .5em;
		}

		.gameKeyInput:focus {
			outline: none;
			border: 3px solid rgb(253, 177, 0);
		}

		.modeCheckbox {
			margin: 1em 0;
			display: flex;
			flex-direction: column;
			width: 100%;

			.modeCheckboxBtn{
				display: flex;
				justify-content: space-around;
				border-radius: 25px;
				background-color: #001d3d;
				width: 100%;
				padding: 0.95em;
			}

			.playerCheckArea {
				margin-bottom: 1em;
		
				#playerCheckbox {
					cursor: pointer;
				}
			}

			.spectatorCheckArea {
				#spectatorCheckbox {
					cursor: pointer;
				}
			}

			.playerLabel {
				padding-right: 3em;
				padding-top: 0.15em;
			}
			.spectatorLabel {
				padding-right: 0.6em;
				padding-top: 0.15em;
			}
		}
	}
}

.btn {
	position: relative;
	font-size: 1.9rem;
	padding: 0.95em;
	padding-top: 1em;
	margin: 0.5em 0;
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	background-image: linear-gradient(35deg, rgb(253, 177, 0), rgb(255, 214, 10));
	background-color: #fff;
	color: #000814;
	border: 2px solid #000814;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;
}

.btn1::after {
	content: '';
	background-image: linear-gradient(
			35deg,
			rgba(253, 177, 0, 0.65),
			rgba(255, 214, 10, 0.65)
		),
		url('../images/beach-volley-mini.jpg');
	background-repeat: no-repeat;
	opacity: 0;
	position: absolute;
	top: 0;
	left: -100px;
	right: 0;
	bottom: 0;
	z-index: -10;
	transition: 0.15s;
}

.btn2::after {
	content: '';
	background-image: linear-gradient(
			35deg,
			rgba(253, 177, 0, 0.65),
			rgba(255, 214, 10, 0.65)
		),
		url('../images/volleyball-team-mini.jpg');
	background-repeat: no-repeat;
	opacity: 0;
	position: absolute;
	top: 0;
	left: -100px;
	right: 0;
	bottom: 0;
	z-index: -10;
	transition: 0.15s;
}

.btn3::after {
	content: '';
	background-image: linear-gradient(
			35deg,
			rgba(253, 177, 0, 0.65),
			rgba(255, 214, 10, 0.65)
		),
		url('../images/volleyball-alone-mini.jpg');
	background-repeat: no-repeat;
	opacity: 0;
	position: absolute;
	top: 0;
	left: -100px;
	right: 0;
	bottom: 0;
	z-index: -10;
	transition: 0.15s;
}

.btn:hover::after {
	opacity: 1;
	left: 0;
}

.waitMessage {
	font-size: 2.5rem;
	margin: 0.8em 2em;
	text-transform: uppercase;
	font-weight: bold;
}

.waitKey {
	margin: 0 1em 0.7em;
	font-size: 2rem;
}

.startGameBtn {
	position: absolute;
	top: 0;
	left: 0;
}

.gameResult{
	font-size: 2.5rem;
	margin: 0 1em;
	text-transform: uppercase;
}

.explanation{
	margin: 1.5em 0.7em;
	font-size: 2.5rem;
}

.endButtons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 5%;

	.btn{
		width: 100%;
	}
}

// WAITING DOTS IDEA

// .waitArea{
// 	display: flex;
// 	align-items: center;

// 	.dots{
// 		display: flex;
// 		margin-top: 13px;
// 		margin-left: -66px;

// 		.dot{
// 			width: 6px;
// 			height: 6px;
// 			margin-right: 4px;
// 			background-color: #fff;
// 		}
// 	}
// }



//--------------------------------------------
//              MEDIA  QUERIES  <3
//--------------------------------------------

@media (min-width: 375px) {
	.container {
		.headerTextBig {
			font-size: 5rem;
		}

		.headerTextSmall {
			font-size: 1.85rem;
		}
	}

	.btn {
		font-size: 2rem;
		padding: 1em;
		padding-top: 1.2em;
		margin: 0.75em 0;
		border-radius: 35px;
	}
}

@media (min-width: 576px) {
	.container {
		background-image: linear-gradient(
				45deg,
				rgba(1, 35, 86, 0.8),
				rgba(0, 29, 61, 0.8)
			),
			url('../images/beach-big.jpg');

		.headerTextBig {
			font-size: 5.2rem;
		}

		.headerTextSmall {
			font-size: 2rem;
			margin: 0 6em 1.8em;
		}

		.keyText {
			font-size: 3.5rem;
			margin: 0 1.5em;
		}

		.yourKey {
			margin: 1.5em 1em;
			font-size: 2rem;
		}

		.form{
			.gameKeyInput{
				font-size: 1.8rem;
			}
		}

		
	}

	.btn {
		font-size: 2.4rem;
		padding: 0.9em 1.5em;
		padding-top: 1em;
		margin: 0.75em 0;
	}

	.form {
		width: 35%;
	}
}

@media (min-width: 768px) {
	.container {
		.headerTextBig {
			font-size: 6rem;
			margin: -1rem 1.6em 1rem;
		}

		.headerTextSmall {
			font-size: 2.2rem;
			margin: 0 6em 1.8em;
		}

		.keyText {
			font-size: 4.5rem;
			margin: 0 1.5em;
		}

		.yourKey {
			margin: 1.5em 1em;
			font-size: 2.3rem;
		}

		.returnBtn {
			padding: 0.95em 4.9em;
		}

		.form {
			.gameKeyLabel {
				font-size: 3rem;
			}

			.gameKeyInput{
				font-size: 1.9rem;
			}
		}
		
	}

	.btn {
		font-size: 2.8rem;
		padding: 0.8em 2em;
		padding-top: 0.85em;
		margin: 0.75em 0;
	}

	.waitMessage {
		font-size: 3rem;
	}

	.waitKey {
		font-size: 2.4rem;
	}

	.explanation{
		font-size: 2.8rem;
	}

	.gameResult{
		font-size: 3.8rem;
		margin: 0 1em;
		text-transform: uppercase;
	}
}

@media (min-width: 992px) {
	.container {
		.headerTextBig {
			font-size: 6.5rem;
			margin: -1rem 1.6em 1rem;
		}

		.headerTextSmall {
			font-size: 2.4rem;
			margin: 0 6em 1.8em;
		}

		.yourKey {
			font-size: 2.5rem;
		}

		.returnBtn {
			padding: 0.95em 5.9em;
		}

		.form {
			.gameKeyLabel {
				font-size: 3.8rem;
			}
			.gameKeyInput{
				font-size: 2rem;
			}
		}
	}

	.btn {
		font-size: 2.8rem;
		padding: 0.9em 3em;
		padding-top: 1em;
		margin: 0.75em 0;
	}

	.waitMessage {
		font-size: 3.3rem;
	}

	.waitKey {
		font-size: 2.7rem;
	}
}

@media (min-width: 1100px) {
	.container {
		.form {
			.modeCheckbox {
				flex-direction: row;

				.playerCheckArea {
					margin-bottom: 0;
					margin-right: 1em;
				}
			}

			.gameKeyInput{
				font-size: 2.1rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.container {
		.headerTextBig {
			font-size: 7rem;
			margin: -1rem 1.6em 1rem;
		}

		.headerTextSmall {
			font-size: 2.7rem;
			margin: 0 6em 1.2em;
		}

		.yourKey {
			font-size: 2.7rem;
		}

		.returnBtn {
			padding: 0.95em 7.9em;
		}

		.form {
			.gameKeyLabel {
				font-size: 4.65rem;
			}

			.gameKeyInput{
				font-size: 2.35rem;
			}
		}
	}

	.btn {
		font-size: 2.8rem;
		padding: 1em 5em;
		padding-top: 1.1em;
		margin: 0.75em 0;
	}

	.waitMessage {
		font-size: 3.5rem;
	}

	.waitKey {
		font-size: 3rem;
	}

	.explanation{
		font-size: 2.8rem;
		margin-bottom: 0;
	}

	.gameResult{
		font-size: 4.3rem;
		margin: 0 1em -.2em;
	}
}
